.site-footer {
  background: url("../../images/dark-wood@2x.png");
  background-size: contain;
  display: flex;
  color: #fff;
  line-height: 1.75;
}

.contact {
  text-decoration: none;
  margin: 3rem 0;
  padding-left: 90px;
}

.business-hours {
  grid-column: 2;
  margin: 3rem 0;
  font-weight: 700;
  padding-left: 75px;
}

.text-logo {
  background-repeat: no-repeat;
  margin-top: 2rem;
  max-width: 80%;
  background-size: contain;
  margin: 3rem 0;
}

.logo-footer {
  position: relative;
  max-width: 70%;
  left: 120px;
  top: 10px;
}

.title-h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 19.2px;
  font-family: "Merriweather Web", sans-serif;
}

.links-footer {
  text-decoration: none;
  font-size: 16px;
  font-family: "Merriweather Web", sans-serif;
}
.links-footer:hover {
  text-decoration: underline;
  color: white;
}

.icons-fa {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

footer {
  aside#contact-info-6 {
    display: flex;
    flex-direction: column;
  }
  .social-media-wrap {
    display: flex;
  }

  .wrapper-footer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  a.phone-input {
    color: white;
  }
  a.email-input {
    color: white;
  }

  .address123 {
    width: 76%;
    display: none;
  }

  .footer-container-wrap {
    padding-left: 30px;
    margin-top: 29px;
  }

  .wrapper-footer {
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 0;
  }

  h1 {
    color: #d99054;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  h2.widget-title {
    display: none;
  }
}

.container {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-self: flex-end;
  height: 50px;
}
.footer-logo {
  margin: 3rem 0;
  height: 70px;
}

img.inhabitent-logo-footer {
  width: 76%;
}

.footer-logo {
  margin: 3rem 0;
  height: 70px;
  position: absolute;
  right: -23px;
}

aside#business-hours-4 {
  display: flex;
  flex-direction: column;
  line-height: 0.5;
  padding-left: 60px;
  margin-top: 55px;
}

aside#contact-info-6 {
  display: flex;
  margin-top: 29px;
}

.social-media-wrap {
  justify-content: flex-start;
  padding-left: 50px;
  margin-bottom: 20px;
}
