.site-footer {
  background: url('../../images/dark-wood@2x.png');
  background-size: contain;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  color: #fff;
  line-height: 1.75;
}

.contact {
  text-decoration: none;
  margin: 3rem 0;
  padding-left: 90px;
}

.business-hours {
  grid-column: 2;
  margin: 3rem 0;
  font-weight: 700;
  padding-left: 75px;
}

.footer-logo {
  grid-column: 3;
  margin: 3rem 0;
}

.text-logo {
  background-repeat: no-repeat;
  margin-top: 2rem;
  max-width: 80%;
  background-size: contain;
  margin: 3rem 0;
}

.container {
  grid-column: 2 / span 3;
  grid-row: 2;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  right: 100px;
  bottom: 20px;
}

.logo-footer {
  position: relative;
  max-width: 70%;
  left: 120px;
  top: 10px;
}

.title-h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 19.2px;
  font-family: 'Merriweather Web', sans-serif;
}

.links-footer {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Merriweather Web', sans-serif;
}
.links-footer:hover {
  text-decoration: underline;
  color: white;
}

.icons-fa {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
