/****** SHOP PAGE **********/




.whole-content-block {    
    width: 1120px;
}


.content-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin-bottom: 3.5rem;
    position: relative;
    top: 52px;
}

.grid-container {
    border: 1px solid #e1e1e1;
}

.grid-container-wrapper123 {
    background-color: #e1e1e1;
    overflow: hidden;
    position: relative;
}

.shop-title123 {
    font-size: .9rem;
    padding: .75rem 1rem;
    display: inline;
    font-size: 1rem;
    font-weight: 400;
    font-family: Merriweather Web,serif;
    letter-spacing: 0;
    line-height: 1.75;
    text-transform: none;

}

.price-tag {
    font-size: .9rem;
    padding: .75rem 1rem;
    float: right;
    padding-left: .25rem;
}

.product-type-wrapper123{ 

text-transform: uppercase;
font-family: Novecento Sans Web,sans-serif;
font-size: 1.2rem;
word-spacing: 50px;
color: #248a83;
text-decoration: none;
position: relative;
border-bottom: 1px dotted black;
bottom: 50px;

}


.page-header {
    display: flex;
    position: relative;
    top: 80px;
    flex-direction: column;
    text-align: center;

}


.header-shop-tax {
    position: relative;
    bottom: 50px;
    text-transform: uppercase;
    font-family: Novecento Sans Web,sans-serif;
    letter-spacing: 2px;
    font-size: 2.4rem;
}


