.entry-summary {
  line-height: 1.75 !important;
  color: #404040;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
}

.entry-summary p {
  font-size: 16px;
}

.site-main-search {
  display: flex;
  flex-direction: column;
  padding-left: 56px;
}

.page-title-search {
  color: #404040;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 38px;
  text-align-last: center;
  border-bottom: 1px dashed #c8c8c8;
}

.page-title-search h1 {
  font-size: 38px;
}

.page-header-search {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  align-self: center;
  width: 78%;
  line-height: 1.5;
}

.entry-title123 {
  font-family: web, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 34px;
  text-transform: uppercase;
}

.read-more-btn-container1234 {
  position: relative;
  z-index: 1;
  border: 1px solid #000;
  padding: 10px;
  width: 16%;
}

.read-more-btn-container1234:hover {
  background: #248a83;
  text-decoration: none;
}

.read-more-btn123:hover {
  color: white;
}
