.single_title {
  font-family: Novecento Sans Web, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 58%;
  text-decoration: none;
  color: #fff;
  background-color: #248a83;
  font-size: 22px;
  position: absolute;
  left: 0;
  padding: 33px;
  padding-top: 0px;
  margin-top: 25px;
}

.site-main-single {
  position: relative;
  padding-bottom: 60px;
  margin-right: 237px;
  justify-self: center;
}
